div.current input, div.current textarea, div.current select {
clear:both;
float:inherit;
margin:0;
}
div.current label {
clear:both;
display:inline;
float:none;
margin-top:0;
min-width:0;
}
fieldset input, fieldset textarea, fieldset select, fieldset img, fieldset button {
float:none;
margin:5px 5px 5px 0;
width:auto;
}
fieldset label {
clear:left;
display:inline;
float:none;
margin:5px 0;
}