/* Here go all IE7 CSS Tweaks/Hacks */

#roktwittie .user .content .subscribe {margin-top: 12px;}
#roktwittie .roktwittie-text {margin-bottom: 0;padding-bottom: 5px;}
#roktwittie div.roktwittie-text {margin-bottom: 0px;}